body {
    background-color: #0f0f4e;
    background-image: url("https://media.istockphoto.com/id/1042642152/photo/old-grungy-blue-painting-background.jpg?s=612x612&w=0&k=20&c=FG8fu2AgDaye7fVb7Wj54oY7KKD_EwK2FlkwUjXCDo4=");
    background-size: cover;
    height: 100%;
    margin: 200px auto;
}

.container {
    border: 10px solid white;
    margin: 75px auto;
    max-width: fit-content;
    padding: 50px 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
}

.container h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

#score1 {
    background-color: black;
    color: red;
    font-family: "Press Start 2P", system-ui;
    font-size: 80px;
    height: 100%;
    width: 100%;
    text-align: center;
}

#score2 {
    background-color: black;
    color: red;
    font-family: "Press Start 2P", system-ui;
    font-size: 80px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.added-points {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 20px auto;
}

.plus1 {
    background-color: #0f0f4e;
    border: 2px solid white;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    padding: 5px 5px;
}

.plus2 {
    background-color: #0f0f4e;
    border: 2px solid white;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    padding: 5px 5px;
}

.plus3 {
    border: 2px solid white;
    background-color: #0f0f4e;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    padding: 5px 5px;
}

.plus4 {
    background-color: #0f0f4e;
    border: 2px solid white;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    padding: 5px 5px;
}

.plus1:hover {
    background-color: blue;
}

.plus2:hover {
    background-color: blue;
}

.plus3:hover {
    background-color: blue;
}

.plus3:hover {
    background-color: blue;
}

.reset {
    display: flex;
    justify-content: center;
}

.reset-btn {
    background-color: #0f0f4e;
    border: 2px solid white;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    padding: 5px 5px;
}

.reset-btn:hover {
    background-color: blue;
}


